@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./pictures/brand/pattern.png');
}

.navbar-toggler{
  background-color: rgba(0,0,0,0.8)
}
.container{
  width: 100%;
}
.pad {
  padding: 10px;
}
.mar{
  margin-bottom: 10px;
}
.menuWrapper{
  margin-top: -33px;
}
.menuDisplay{
  width:50%;
  max-width: 532px;

}
.float-left.menuDisplay{
  margin: 0 0 0 auto;
}
.float-right.menuDisplay{
  margin: 0 auto 0 0;
}
.menu1{
  background-image: url('./pictures/brand/pékség.png');
  height: 500px;
  width: 50%;
  color: white;
  display: inline-block;
  background-color: gray;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.menu2{
  background-image: url('./pictures/brand/ételek.png');
  background-color: gray;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  height: 500px;
  width: 50%;
  display: inline-block;
  color:#f4f4f4;
}
.smallmenu1{
  background-image: url('./pictures/brand/italok.png');
  height: 250px;
  width: 50%;
  display: inline-block;
  color: white;
  background-color: gray;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.smallmenu2{
  background-image: url('./pictures/brand/desszertek.png');
  height: 250px;
  width: 50%;
  display: inline-block;
  color:white;
  background-color: gray;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.menuTitle{
  float:left;
  width: 100%;
  margin-top: 20%;
  font-size: 36px;
  font-smoothing:
}
.menuBox{
  height:250px;
  background-color: #f4f4f4;
}
.menuBox .menuTitle{
  margin:10px auto;
}
.menuBox .specialhr{
  border-top: 4px solid #ab8560;
}
.menuText{
  float:left;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}
.menu1 .menuTitle{
  color:yellow;
}
.menu2 .menuTitle{
  color:lightgreen;
}
.smallmenu2 .menuTitle{
  color:orange;
}
.smallmenu1 .menuTitle{
  color:red;
}
.smallmenu1:hover {
  background-color: transparent;
  background-blend-mode: normal;
}
.smallmenu2:hover {
  background-color: transparent;
  background-blend-mode: normal;
}
.menu1:hover {
  background-color: transparent;
  background-blend-mode: normal;
}
.menu2:hover {
  background-color: transparent;
  background-blend-mode: normal;
}
.specialhr{
  width: 100%;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  background-color: transparent;
  border-top: 4px solid white;
  float:left;
  margin-left: 0px;
}
.grey-filter{
  height: 100%;
  z-index: 99999;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0%;
  transition: border-radius 1s, height 1s, margin-top 1s;
}
.smallmenu1:hover .grey-filter, .smallmenu2:hover .grey-filter{
  border-radius: 100%;

}
.menu1:hover .grey-filter{
  border-radius: 50%;
  height: 250px;
  margin-top:50%;
}
.menu2:hover .grey-filter{
  border-radius: 50%;
  height: 250px;
  margin-top:50%;
}
.search{
  width: 200px;
  margin-bottom: 10px;
}
.extra {
  font-size: 12px;
  font-style: italic;
}
.card-text{
  margin-top: -10px;
}
.card-title{
  color: #ab8560;
}
.price {
  text-align: right;
  font-style: italic;
}
.btn-outline-secondary{
  border-width: medium;
  border-color: white;
  color: white;
}
.btn-outline-secondary:hover{
  background-color: rgba(255,255,255,0.8);
  color: #191919;
}
.menu-btn{
  margin-bottom:5px
}
.specialCard{
  border-radius: 50%;
  width: 210px;
  height: 210px;
  margin-top: 0em;
  box-shadow: 6px 6px 6px #ccc;
  -webkit-box-shadow: 10px 0px 6px rgba(244,244,244,0.5);
  -moz-box-shadow: 6px 6px 6px #ccc;

}
.sliderImg{
  margin: 0 auto;
}
.myCard{
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(244,244,244,0) 18%, rgba(244,244,244,0.3) 21%, rgba(244,244,244,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(244,244,244,0) 18%,rgba(244,244,244,0.3) 21%,rgba(244,244,244,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(244,244,244,0) 18%,rgba(244,244,244,0.3) 21%,rgba(244,244,244,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
  color: #f4f4f4;
  max-width: 600px;
  margin: 0 auto;
  border-left: none;
  border-radius: 10px;
}
.cardText{
  width: 100%;
}
.cardWrapper{

}
h1 {
  font-size: 34px;
}
.maR {
  margin-right: 20px;
}
.marL {
  margin-left: 10px;
}
.marT {
  margin-top: 20px;
}
body {
  max-width: 1600px;
  margin: 0 auto;
}
.static{
  position: fixed;
  left:0;
}
.static .nav-link{
  float:left;

}
.toggler{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top:53px;
  margin-left: -17px;
  max-width: 1600px;
}
.navline{
  background-color: rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 100%;
  max-width: 1600px;
  position: fixed;
  top:40px;
  z-index: 999;
  visibility: hidden;
}
.navfix {
  max-width: 1600px;
  width: 100%;

  margin: 0 auto;
}
.navcorrect{
  padding-top: 75px;
}
.navfix .slick-dots {
  top: 450px;
  left: auto;
}
.navfix .slick-dots li button:before{
  font-size: 20px;
  color: white;
  line-height: 20px;
}
.text-brown{
  color: #ab8560;
}
.bannerWrapper{
  color:#f4f4f4;
  margin-top: 90px;
  padding-top: 5px;
}
.bg-white {
  background-color: rgba(245, 245, 245, 0.8);
}
.underline {
  text-decoration-line: underline;
}
.hr {
  color:#f4f4f4;
  background-color: white;
  width: 70%;

}
.former .hr{
  width:100%;
}
.footerLogo{
  display: block;
  margin: 20px auto;
}
.logoImg{
  z-index: 9122;
  width: 150px;
  height: 150px;
  top:-70px;
  position: absolute;
}
.logo{
  z-index: 9123;
  position: relative;
  margin-left: -150px;
}
.bg-shadow{
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  margin-top: 150px;

}
.menubanner{
  background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  width: 100%;
  height:400px;

}

.bg-brown .breadcrumb-item a{
  color: #191919;

}
.footWrapper{
  margin:0 auto;

  max-width: 550px;
  background-color: red;
}
.breadWrapper{
  margin: 50px auto 0 auto;
}
.formWrapper{
  color:#f4f4f4;
  padding:10px;
  text-align: center;

}
.footEnd{

}
.former{
  max-width: 470px;
  margin: auto;
}
.former .form-control{
  width: 250px;
}
.former .btn {
  margin: 0 auto;
}
.bg-grey.search{
  border-color: #f4f4f4;
}
.bg-grey.search:focus{
  background-color: rgba(245, 245, 245, 0.3);
  color: #f4f4f4;
}
.bg-grey {
  background-color: transparent;
  color: #f4f4f4;
}
.bg-grey:hover{
  background-color: rgba(245, 245, 245, 0.6);
}
.bg-grey.active{
  background-color: rgba(245, 245, 245, 0.3);
  color: #f4f4f4;
}
.bg-brown{
  background-image: url('./pictures/brand/pattern2.png');
}
.footer{
  background-repeat: no-repeat;
  background-position: 50% 90%;
}
@media(min-width:1601px){
  .static .nav-link{

  }
  .static{
    position: relative;
    width: 160px;
  }
}
@media(max-width:970px){
  .float-right.menuDisplay{
    float:none!important;
    width: 100%;
    margin: 0 auto;
  }
  .float-left.menuDisplay{
    margin: 0 auto;
    width: 100%;
  }
  .float-right.menuDisplay .menu1,.menu2{
    max-height: 250px;
    margin-top: -7px;
  }
  .menu1:hover .grey-filter{
    border-radius: 50%;
    height: 250px;
    margin: 0;
  }
  .menu2:hover .grey-filter{
    border-radius: 50%;
    height: 250px;
    margin: 0;
  }
}
@media(max-width:768px){
  .specialCard{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-top: 0em;

  }
  .myCard{
    height: 184px;
  }
  .SliderImg{
    width:80%;
    margin: 0 auto;
  }
  .logo{
    margin-left: -270px;
  }

}
@media(max-width:576px){
  .myCard{
    background: -moz-linear-gradient(left, rgba(244,244,244,0.3) 0%,rgba(244,244,244,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(244,244,244,0.3) 0%,rgba(244,244,244,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(244,244,244,0.3) 0%,rgba(244,244,244,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
    color: #f4f4f4;
    border-radius: 10px;
    border: solid 1px #f4f4f4;
    height: auto;
  }
  .specialCard{
    border-radius: 0%;
    width: 100%;
    height: auto;
    margin-top: 0em;
    box-shadow: 0px 0px 0px #ccc;
    -webkit-box-shadow: 0px 0px 0px rgba(244,244,244,0.5);
    -moz-box-shadow: 0px 0px 0px #ccc;
  }
  .bannerWrapper h1{
    font-size: 34px;
  }
  .bannerWrapper p{
    font-size: 20px;
  }
  .bannerWrapper .btn{
    font-size: 20px;
  }
  .SliderImg{
    width:80%;
    margin: 0 auto;
  }

  .static .nav-link{
    float:none;
  }
  .toggler{
    padding-left:10px;
  }
  .static{

    position: relative;
  }
  .logo{
    margin-left: -150px;
  }
  .navline{
    visibility: visible;
  }
}
